.secParticipate
  padding: 2rem 0rem
  position: relative
  color: $color8

  &__container
    @include lg
      max-width: 80rem
      margin: 0 auto
      padding: 0

  &__content
    position: relative
    z-index: 2

    @include md
      .zContent1
        max-width: 40rem

  &__bg
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1

    .zFigure
      &__overlay
        opacity: .8

  .zTitleWave
    text-align: left
    color: $color3

