.secHistory
  position: relative
  background-color: $color8

  &__header
    text-align: center

  .zRow
    display: flex
    justify-content: center

  .zCol
    &:nth-child(2)
      width: 80%
      max-width: 60rem
      padding: 1rem 4rem

  &__title
    margin-bottom: 2rem
    color: $color1