.secExpoDubai
  padding-bottom: 2rem
  position: relative

  &__content
    @include md
      position: relative
      top: -5rem
      border-radius: 4px
      box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.1)
      background-color: $color8

    .zRow
      display: block

      @include md
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 1fr

      .zCol
        &:nth-child(2)
          @include md
            padding: 1rem 0

      img
        @include md
          border-radius: 4px 0 0 4px

    .zContent1
      @include lg
        padding: 1rem 2rem
      &__title
        @include lg
          position: relative
          z-index: 1

  .theWaveH
    position: absolute
    right: 0
    z-index: 0

  .theWind
    opacity: .5

  .theWind1
    position: absolute
    left: -1rem
    bottom: 0

  .theWind2
    position: absolute
    left: 5%
    bottom: 0

    .theWind
      width: 100px

  .theWind3
    position: absolute
    left: 35%
    bottom: 0

    .theWind
      width: 60px

  .theWind4
    position: absolute
    right: 0
    bottom: 0

    .theWind
      width: 60px

  .theWind5
    position: absolute
    right: 0
    bottom: 0

    .theWind
      width: 260px

  
