.secIntro
  width: 100%
  height: 100vh
  display: block
  position: relative
  color: $color8
  &__container
    width: 100%
    height: 100%
    padding: 1rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &__header
    margin-bottom: 2rem
    @include lg
      margin-bottom: 1rem
    &__logo
      margin-bottom: 2rem
      display: flex
      justify-content: center
      align-items: center
      svg
        width: 17rem
        fill: $color8
        @include md
          width: 30rem
        @include lg
          width: 37rem
    &__title
      @include titleBaseBold
      margin: 1rem 0 .5rem
      text-align: center
      color: $color3
    &__subtitle
      text-align: center
  &__content
    &__buttons
      margin-bottom: 2rem
      @include lg
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
        column-gap: 2rem
        margin-bottom: 1rem
  &__bg
    width: 100%
    height: 100vh
    position: absolute
    top: 0
    left: 0
    z-index: -1