.theContainer
  width: 100%
  max-width: 60rem
  margin:  0 auto
  padding: 0
  @include md
    padding: 0 1rem

.zTitleBig
  @include titleBig

.zTitleBigBold
    @include titleBigBold

.zTitleBigSpan
  @include titleBig
  span
    @include titleBigBold
    color: $color2

.zTitleMedium
  @include titleMedium

.zTitleMediumBold
    @include titleMediumBold

.zTitleSmall
  @include titleSmall

.zTitleSmallBold
    @include titleSmallBold

.zTitleWave
  @include titleBigBold
  padding: .5rem 6rem .5rem 0
  display: inline-block
  background-image: url("../images/icoWave.png")
  background-size: 5rem auto
  background-repeat: no-repeat
  background-position: center right

.textCenter
  max-width: 40rem
  margin: 0 auto
  padding: 2rem 1rem
  @include md
    padding: 4rem 1rem

.zTitleWaves
  @include titleBig
  padding: 0 110px
  display: inline-block
  position: relative
  text-align: center
  span
    @include titleBigBold
    display: block
    color: $color3
  &::before
    content: ""
    width: 100px
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-image: url(../images/icoWaveYellow.png)
    background-size: 100px auto
    background-repeat: no-repeat
    background-position: center
  &::after
    content: ""
    width: 100px
    height: 100%
    position: absolute
    top: 0
    right: 0
    background-image: url(../images/icoWaveYellow.png)
    background-size: 100px auto
    background-repeat: no-repeat
    background-position: center

.titleIcon
  padding: 1rem 2rem
  display: inline-block
  border-top: 1px solid rgba($color8, .2 )
  border-bottom: 1px solid rgba($color8, .2 )
  &__title
    @include titleBig
    margin-top: .5rem
  &__icon
    display: flex
    justify-content: center
    align-items: center
    img
      width: 4rem 
      height: 4rem 
      fill: $color8

.titleBigSpanWave
  @include titleBig
  display: inline-block
  padding: 2rem 0 2rem 7rem
  position: relative
  span
    @include titleBigBold
    color: $color2
  &::before
    content: ""
    width: 100px
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-image: url(../images/icoWave.png)
    background-size: 6rem auto
    background-repeat: no-repeat
    background-position: center

.zTextWaves
  padding: 0 110px
  display: inline-block
  position: relative
  text-align: center
  span
    display: block
    color: $color3
  &::before
    content: ""
    width: 100px
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-image: url(../images/icoWave.png)
    background-size: 100px auto
    background-repeat: no-repeat
    background-position: center
  &::after
    content: ""
    width: 100px
    height: 100%
    position: absolute
    top: 0
    right: 0
    background-image: url(../images/icoWave.png)
    background-size: 100px auto
    background-repeat: no-repeat
    background-position: center

.zSlidertheme1
  .owl-theme
    .sliderNavigation
      .owl-nav
        display: flex
        justify-content: space-between
        position: relative
        z-index: 2
        div, div:hover
          width: 8rem
          height: 45px
          background-color: transparent
          box-shadow: none
          background-repeat: no-repeat
        .owl-prev
          background-image: url("../../assets/images/arrowSliderL.png")
          background-position: center left
        .owl-next
          background-image: url("../../assets/images/arrowSliderR.png")
          background-position: center right
      
      .owl-dots
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        position: relative
        top: -2.2rem
        z-index: 1
        .owl-dot
          span
            background-color: $color3
        .active
          span
            width: 1rem
            height: 1rem

.splitterSec
  background-image: url(../images/splitterPageHeader.png)
  background-position: left 100.5%
  background-repeat: no-repeat
  background-size: 100% auto

.secVideoButton
  width: 100%
  height: 100%
  position: relative
  &__content
    padding: 4rem 1rem
    position: relative
    z-index: 1
  &__title
    @include titleBig
    text-align: center
    color: $color8
    span
      @include titleBigBold
      color: $color3  
  &__subtitle
    @include titleSmallBold
    text-align: center
    color: $color8
  &__button
    margin-top: 2rem
    display: flex
    justify-content: center
    align-items: center  
  &__bg
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 0
    .zFigure
      &__overlay
        opacity: .8

.megaHeader
  min-height: 100vh
  padding: 8rem 1rem 1rem
  display: flex
  justify-content: center
  align-items: center
  position: relative
  @include md
    padding: 8rem 0 1rem 1rem
  @include lg
    justify-content: flex-end
  &__content
    position: relative
    z-index: 1
    @include lg
      width: 100%
      max-width: 70rem
  &__title
    @include titleBig
    margin-bottom: 2rem
    color: $color8
    span
      @include titleBigBold
      color: $color3
  &__text
    color: $color8
    @include md
      padding: 1rem
      color: $color5
      background-color: $color7
    @include lg
      padding: 4rem 0 4rem 8rem
      div
        max-width: 40rem
  &__bg
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    .zFigure
      &__overlay
        opacity: .9
        @include md
          opacity: .8

.cardIcon
  max-width: 210px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  &__icon
    min-width: 150px
    min-height: 150px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    background-color: $color8
    img
      width: 50%
      height: 50%
  &__text
    margin: 1rem 0 2rem
    color: $color2
    text-align: center

.videoPlayer
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: 0
  overflow: hidden

  iframe,
  object,
  embed 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%