*
  box-sizing: border-box

*:focus 
    outline: none

html, body, #app
  width: 100%
  height: 100%
  background: black

body
  @include textBase
  color: $color5
  font-family: 'Raleway', sans-serif
  background-color: $color7

p
  margin-bottom: 1rem

img
  max-width: 100%
  vertical-align: bottom

a
  @include transitionFast
  color: $color5
  text-decoration: none
  &:hover
    color: $color3

button
  display: inline-block
  margin: 0
  padding: 0
  border: 0
  background-color: transparent
  border: none
  margin: 0
  padding: 0
  width: auto
  overflow: visible
  background: transparent
  /* inherit font & color from ancestor */
  color: inherit
  font: inherit
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit
  -moz-osx-font-smoothing: inherit
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none

i
  font-style: italic

.theHeader
  position: relative
  z-index: 1

.theMain
  position: relative
  z-index: 0
  background-color: $color7
  overflow: hidden

.fslightbox-open
  .theHeader
    z-index: 1

  .theMain
    z-index: 1