.secSocial
  display: none
  position: relative
  @include lg
    display: block
    padding: 1rem 1rem 10rem
    background-image: url("../../../assets/images/bgsust.png")
    background-position: bottom right
    background-repeat: no-repeat
  &__container
    width: 100%
    margin: 0 auto
    padding: 1rem
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    column-gap: 1rem
    z-index: 1
  &__facebook
    &__header
      margin-bottom: 1rem
      color: $color2
    &__item
      margin-bottom: 1rem
      display: grid
      grid-template-columns: 6.3rem 1fr
      grid-template-rows: 1fr
      background-color: $color8
    &__image
      width: 5.5rem
      height: 5.7rem
    &__content
      padding: .5rem 1rem 0
      a
        color: $color5

  &__instagram
    &__header
      margin-bottom: 1rem
      color: $color2
    &__list
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      grid-template-rows: 2fr
      column-gap: 1rem
    &__item
      margin-bottom: 1rem
  
  .zTitleMedium
    display: flex
    justify-content: flex-start
    align-items: center
    svg
      width: 2rem
      height: 2rem
      margin-right: .5rem
      fill: $color3

  .theWaveH
    svg
      fill: $color8

  .theWave1
    transform: rotate(90deg) scale(.8)
    display: inline-block
    position: absolute
    bottom: 1.6rem
    left: -4.8rem

  .theWind
    opacity: .5

  .theWind1
    position: absolute
    right: -1rem
    bottom: 0

  .theWind2
    position: absolute
    right: 5%
    bottom: 0

    .theWind
      width: 100px

  .theWind3
    position: absolute
    right: 5%
    bottom: 0

    .theWind
      width: 60px